    body {
        color: red;
        <<<<<<< HEAD text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        margin: 0;
        padding: 0;
        =======text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin: 0;
        padding: 0px;
        >>>>>>>cabecera
    }
    
    #cabecera {
        background: pink;
        <<<<<<< HEAD box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
        color: white;
        font-weight: bold;
        margin: 0;
        padding: 0.5em;
    }
    
    =======color: white;
    margin: 0;
    font-weight: bold;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 20);
    padding: 0.5em;
}
# #container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid pink;
    margin: 0 auto;
}
>>>>>>>cabecera #cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
<<<<<<< HEAD #container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid gray;
    margin: 0 auto;
}
#container h1 {
    font-size: 20 px;
    =======#container h1 {
        font-size: 20px;
        >>>>>>>cabecera
    }
    
    #post {
        padding: 1em;
    }